.titre{
    text-align: center;
    font-family: 'Louis George Café', sans-serif;
color: #7367f0;
text-transform: capitalize;
padding: 0.77rem;
text-decoration: solid;
text-shadow: 20ch;
font-style: italic;
font-size:xx-large;

}