<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <!-- User List -->
    <section class="users-list-wrapper">

      <!-- users filter start -->
      <div class="card">
        <h5 class="card-header">{{ 'filtres.title' | translate }}</h5>
        <div class="card-body">
          <div class="users-list-filter">
            <form>
              <div class="row">
                <div class="col-12 col-md-4">
                  <label class="d-flex align-items-center ml-1 ml-md-0"
                  >Réfèrence:<input
                    [(ngModel)]="searchReference"
                    name="searchReference"
                    type="search"
                    class="form-control ml-25"
                    (keyup)="filterByReference($event)"
                /></label>
                </div>
                <div class="col-12 col-md-4">
                  <label class="d-flex align-items-center ml-1 ml-md-0"
                  >Designation:<input
                    [(ngModel)]="searchDesigniation"
                    name="searchDesigniation"
                    type="search"
                    class="form-control ml-25"
                    (keyup)="filterByDesignation($event)"
                /></label>
                </div>
                <div class="col-12 col-md-4">
                  <label class="d-flex align-items-center ml-1 ml-md-0"
                  >Modèle:<input
                    [(ngModel)]="searchModele"
                    name="searchModele"
                    type="search"
                    class="form-control ml-25"
                    (keyup)="filterByModele($event)"
                /></label>
                </div>
                <div class="col-12 col-md-3">
                  <fieldset class="form-group">
                    <ng-select
                      [items]="selectLocalite"
                      [(ngModel)]="selectedLocalite"
                      name="selectedLocalite"
                      bindLabel="code"
                      placeholder="{{ 'filtres.filtreLocalite' | translate }}"
                      (change)="filterByLocalite($event)"
                    ></ng-select>
                  </fieldset>
                </div>
                <div class="col-12 col-md-3">
                  <fieldset class="form-group">
                    <ng-select
                      [items]="selectMarque"
                      [(ngModel)]="selectedMarque"
                      name="selectedMarque"
                      bindLabel="name"
                      placeholder="{{ 'filtres.filtreMarque' | translate }}"
                      (change)="filterByMarque($event)"
                    ></ng-select>
                  </fieldset>
                </div>
                <div class="col-12 col-md-3">
                  <fieldset class="form-group">
                    <ng-select
                      [items]="selectEtatActuel"
                      [(ngModel)]="selectedEtatActuel"
                      name="selectedEtatActuel"
                      bindLabel="code"
                      placeholder="{{ 'filtres.filtreEtatActuel' | translate }}"
                      (change)="filterByMarque($event)"
                    ></ng-select>
                  </fieldset>
                </div>
                <div class="col-12 col-md-3">
                  <fieldset class="form-group">
                    <ng-select
                      [items]="selectEtat"
                      [(ngModel)]="selectedEtat"
                      name="selectedEtat"
                      bindLabel="code"
                      placeholder="{{ 'filtres.filtreEtat' | translate }}"
                      (change)="filterByMarque($event)"
                    ></ng-select>
                  </fieldset>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- users filter end -->

      <div class="card">
        <div class="row">
          <div class="col-md-6 col-12">
            <div class="d-flex justify-content-between align-items-center m-1">
              <label class="d-flex align-items-center">{{ 'datatable.taille' | translate }}
                <select class="form-control mx-25" [(ngModel)]="selectedOption">
                  <option value="10">10</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                </select>
                {{ 'datatable.ligne' | translate }}</label>
            </div>
          </div>
          <div class="col-md-6 col-12 d-flex justify-content-start justify-content-md-end">
            <div class="d-flex align-items-center justify-content-end pr-1 pb-1 pb-md-0">
              <a routerLink="/apps/gmao/machine/machine-list/machine-new"><button class="btn btn-primary ml-1" > 
                <i data-feather="plus" class="d-sm-none d-inline-block mr-0 mr-sm-1"></i>
                <span class="d-none d-sm-inline-block">{{'buttons.addNewUser' | translate}}</span></button>
              </a>
            </div>
          </div>
        </div>
        <ngx-datatable
          [rows]="rows"
          [rowHeight]="50"
          class="bootstrap core-bootstrap"
          [limit]="selectedOption"
          [columnMode]="ColumnMode.force"
          [headerHeight]="50"
          [footerHeight]="50"
          [scrollbarH]="true"
        >
          <ngx-datatable-column name="Réfèrence" prop="reference" ></ngx-datatable-column>
          <ngx-datatable-column name="Designiation" prop="designation" ></ngx-datatable-column>
          <ngx-datatable-column name="Marque" prop="marque.code" ></ngx-datatable-column>
          <ngx-datatable-column name="Numéro de série" prop="numeroDeSerie" ></ngx-datatable-column>
          <ngx-datatable-column name="Modèle" prop="modele" > </ngx-datatable-column>
          <ngx-datatable-column name="Famille" prop="famille.code" > </ngx-datatable-column>
          <ngx-datatable-column name="Localite" prop="localite.code" > </ngx-datatable-column>
          <ngx-datatable-column name="Date d'achat" prop="dateAchat" > </ngx-datatable-column>
          <ngx-datatable-column name="Catégori équipement" prop="categorieEquipement.code" > </ngx-datatable-column>
          <ngx-datatable-column name="Carateristique technique" prop="carateristiqueTechnique" > </ngx-datatable-column>
          <ngx-datatable-column name="Num déclaration" prop="numDeclaration" > </ngx-datatable-column>
          <ngx-datatable-column name="Emplacement" prop="emplacement.code" > </ngx-datatable-column>
          <ngx-datatable-column name="Action"  [sortable]="false">
            <ng-template ngx-datatable-cell-template let-row="row">
              <div ngbDropdown container="body">
                <button ngbDropdownToggle type="button" class="btn icon-btn btn-sm hide-arrow" rippleEffect>
                  <span [data-feather]="'more-vertical'" [class]="'cursor-pointer'"></span>
                </button>
                <div ngbDropdownMenu>
                  <a routerLink="/apps/gmao/machine/machine-list/machine-view/{{ row.id }}" ngbDropdownItem><span [data-feather]="'file-text'" [size]="16" [class]="'mr-50'"></span> Details</a>
                  <a routerLink="/apps/gmao/machine/machine-list/machine-edit/{{ row.id }}" ngbDropdownItem><span [data-feather]="'edit'" [size]="16" [class]="'mr-50'"></span> Edit</a>
                  <a href="javascript:;" ngbDropdownItem><span [data-feather]="'trash'" [size]="16" [class]="'mr-50'"></span> Delete</a>
                </div>
              </div>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
    </section>
    <!--/ User List -->
  </div>
</div>


