<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <!-- pdrs new start -->
    <section class="app-pdr-new">
      <div class="card">
        <div class="card-body">
          <div class="user-info mb-1">
            <h4 class="mb-0">Nouvelle pdr</h4>
          </div>
          <!-- divider -->
          <div class="col-12">
            <hr class="my-1" />
          </div>
            <form class="form-validate" (ngSubmit)="(accountForm.form.valid)" #accountForm="ngForm">
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="name">Réference :</label>
                    <input
                      type="text"
                      id="name"
                      class="form-control"
                      placeholder="Name"
                      name="reference"
                      [(ngModel)]="reference"
                      [class.error]="accountForm.submitted && FullNameRef.invalid"
                      #FullNameRef="ngModel"
                      required
                    />
                    <span *ngIf="accountForm.submitted && FullNameRef.invalid" class="invalid-form">
                      <small class="form-text text-danger" *ngIf="FullNameRef.errors.required"
                        >This field is required!</small
                      >
                    </span>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="email">Désignation :</label>
                    <input
                      type="email"
                      id="email"
                      class="form-control"
                      placeholder="designation"
                      name="designation"
                      [(ngModel)]="designation"
                      [class.error]="accountForm.submitted && EmailRef.invalid"
                      #EmailRef="ngModel"
                      required
                    />
                    <span *ngIf="accountForm.submitted && EmailRef.invalid" class="invalid-form">
                      <small class="form-text text-danger" *ngIf="EmailRef.errors.required"
                        >This field is required!</small
                      >
                    </span>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="status">Status :</label>
                    <select class="form-control" [(ngModel)]="status" name="status" id="status">
                      <option>active</option>
                      <option>inactive</option>
                      <option>pending</option>
                    </select>
                  </div>
                </div>

                <!-- <div class="col-md-4">
                  <div class="form-group">
                    <label for="company">Date modification :</label>
                    <div class="input-group">
                      <input
                        class="form-control"
                        placeholder="dd-mm-yyyy"
                        name="Basic Date Picker"
                        [(ngModel)]="currentRow.dateCre"
                        ngbDatepicker
                        #basicDP="ngbDatepicker"
                      />
                      <div class="input-group-append">
                        <button
                          class="btn btn-outline-secondary feather icon-calendar"
                          (click)="basicDP.toggle()"
                          type="button"
                          rippleEffect
                        ></button>
                      </div>
                    </div>
                  </div>
                </div> -->
                <div class="col-12 d-flex flex-sm-row flex-column mt-3">
                  <button type="submit" (click)="submit(accountForm)" class="btn btn-primary mb-1 mb-sm-0 mr-0 mr-sm-1" rippleEffect>Save Changes</button>
                  <button (click)="resetFormWithDefaultValues()" class="btn btn-outline-secondary mb-1 mb-sm-0 mr-0 mr-sm-1" rippleEffect>Reset</button>
                  <a routerLink="/apps/gmao/pdr/pdr-list" class="btn btn-primary mb-1 mb-sm-0 mr-0 mr-sm-1" rippleEffect>Liste des pdrs</a>
                </div>
              </div>
            </form>
          </div>
        </div>
    </section>
    <!-- pdrs new ends -->

        <!-- Basic tabs start -->
        <section id="basic-tabs-components">
          <div class="row match-height">
            <div class="col-xl-12 col-lg-12">
              <core-card-snippet>
                <h4 class="card-title">Tab with icon</h4>
    
                <div class="card-body">
                  <ul ngbNav #navWithIcons="ngbNav" class="nav-tabs">
                    <li ngbNavItem>
                      <a ngbNavLink><span [data-feather]="'cast'"></span> Général</a>
                      <ng-template ngbNavContent>
                        <p>
                          Candy canes donut chupa chups candy canes lemon drops oat cake wafer. Cotton candy candy canes
                          marzipan carrot cake. Sesame snaps lemon drops candy marzipan donut brownie tootsie roll. Icing
                          croissant bonbon biscuit gummi bears. Pudding candy canes sugar plum cookie chocolate cake powder
                          croissant. Carrot cake tiramisu danish candy cake muffin croissant tart dessert. Tiramisu caramels
                          candy canes chocolate cake sweet roll liquorice icing cupcake. Candy cookie sweet roll bear claw
                          sweet roll.
                        </p>
                      </ng-template>
                    </li>
                    <li ngbNavItem>
                      <a ngbNavLink><span [data-feather]="'settings'"></span> Attachements</a>
                      <ng-template ngbNavContent>
                        <p>
                          Muffin cupcake candy chocolate cake gummi bears fruitcake donut dessert pie. Wafer toffee bonbon
                          dragée. Jujubes cotton candy gummies chupa chups. Sweet fruitcake cheesecake biscuit cotton candy.
                          Cookie powder marshmallow donut. Candy cookie sweet roll bear claw sweet roll. Cake tiramisu
                          cotton candy gingerbread cheesecake toffee cake. Cookie liquorice dessert candy canes jelly. Sweet
                          chocolate muffin fruitcake gummies jujubes pie lollipop. Brownie marshmallow caramels gingerbread
                          jelly beans chocolate bar oat cake wafer. Chocolate bar danish icing sweet apple pie jelly-o
                          carrot cake cookie cake.
                        </p>
                      </ng-template>
                    </li>
                    <li ngbNavItem>
                      <a href="javascript:void(0)" ngbNavLink><span [data-feather]="'lock'"></span> Historique localité</a>
                      <ng-template ngbNavContent>
                        <p>
                          Cake croissant lemon drops gummi bears carrot cake biscuit cupcake croissant. Macaroon lemon drops
                          muffin jelly sugar plum chocolate cupcake danish icing. Soufflé tootsie roll lemon drops sweet
                          roll cake icing cookie halvah cupcake.
                        </p>
                      </ng-template>
                    </li>
                    <li ngbNavItem>
                      <a ngbNavLink><span [data-feather]="'award'"></span> Attributs</a>
                      <ng-template ngbNavContent>
                        <p>
                          Chocolate croissant cupcake croissant jelly donut. Cheesecake toffee apple pie chocolate bar
                          biscuit tart croissant. Lemon drops danish cookie. Oat cake macaroon icing tart lollipop cookie
                          sweet bear claw. Carrot cake dragée chocolate. Lemon drops ice cream wafer gummies dragée.
                          Chocolate bar liquorice cheesecake cookie chupa chups marshmallow oat cake biscuit. Dessert toffee
                          fruitcake ice cream powder tootsie roll cake.
                        </p>
                      </ng-template>
                    </li>
                    <li ngbNavItem>
                      <a ngbNavLink><span [data-feather]="'award'"></span> Nomenclature</a>
                      <ng-template ngbNavContent>
                        <p>
                          Chocolate croissant cupcake croissant jelly donut. Cheesecake toffee apple pie chocolate bar
                          biscuit tart croissant. Lemon drops danish cookie. Oat cake macaroon icing tart lollipop cookie
                          sweet bear claw. Carrot cake dragée chocolate. Lemon drops ice cream wafer gummies dragée.
                          Chocolate bar liquorice cheesecake cookie chupa chups marshmallow oat cake biscuit. Dessert toffee
                          fruitcake ice cream powder tootsie roll cake.
                        </p>
                      </ng-template>
                    </li>
                    <li ngbNavItem>
                      <a ngbNavLink><span [data-feather]="'award'"></span> P.jointes</a>
                      <ng-template ngbNavContent>
                        <p>
                          Chocolate croissant cupcake croissant jelly donut. Cheesecake toffee apple pie chocolate bar
                          biscuit tart croissant. Lemon drops danish cookie. Oat cake macaroon icing tart lollipop cookie
                          sweet bear claw. Carrot cake dragée chocolate. Lemon drops ice cream wafer gummies dragée.
                          Chocolate bar liquorice cheesecake cookie chupa chups marshmallow oat cake biscuit. Dessert toffee
                          fruitcake ice cream powder tootsie roll cake.
                        </p>
                      </ng-template>
                    </li>
                  </ul>
                  <div [ngbNavOutlet]="navWithIcons" class="mt-2"></div>
                </div>
              </core-card-snippet>
            </div>
          </div>
        </section>
        <!-- Basic Tag Input end -->
        

  </div>
</div>
