<div class="slideout-content">
  <!-- Modal to add new user starts-->
  <div class="modalsd modal-slide-in sdfade new-user-modal" id="modals-slide-in">
    <div class="modal-dialog">
      <form class="add-new-user modal-content pt-0" (ngSubmit)="(newUserForm.form.valid)" #newUserForm="ngForm">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="toggleSidebar('new-categorie-equipement-sidebar')"
        >
          ×
        </button>
        <div class="modal-header mb-1">
          <h5 class="modal-title" id="exampleModalLabel">{{ 'fnp.title' | translate }}</h5>
        </div>
        <div class="modal-body flex-grow-1">
          <div class="form-group">
            <label class="form-label" for="basic-icon-default-fullname">{{ 'fnp.champs.libellet' | translate }}</label>
            <input
              type="text"
              class="form-control dt-full-name"
              id="basic-icon-default-fullname"
              name="name"
              [(ngModel)]="name"
              [class.error]="newUserForm.submitted && FNameRef.invalid"
              #FNameRef="ngModel"
              required
              aria-label="John Doe"
              aria-describedby="basic-icon-default-fullname2"
            />
            <span *ngIf="newUserForm.submitted && FNameRef.invalid" class="invalid-form">
              <small class="form-text text-danger" *ngIf="FNameRef.errors.required">This field is required!</small>
            </span>
          </div>
          <div class="form-group">
            <label class="form-label" for="basic-icon-default-uname">{{ 'fnp.champs.code' | translate }}</label>
            <input
              type="text"
              id="basic-icon-default-uname"
              class="form-control dt-uname"
              aria-label="jdoe1"
              aria-describedby="basic-icon-default-uname2"
              name="code"
              [(ngModel)]="code"
              [class.error]="newUserForm.submitted && FUserNameRef.invalid"
              #FUserNameRef="ngModel"
              required
            />
            <span *ngIf="newUserForm.submitted && FUserNameRef.invalid" class="invalid-form">
              <small class="form-text text-danger" *ngIf="FUserNameRef.errors.required">This field is required!</small>
            </span>
          </div>
          <div class="form-group">
                <label class="form-label" for="basic-icon-default-uname">{{ 'fnp.champs.description' | translate }}</label>
                <textarea class="form-control mb-2" rows="4" placeholder="Comment"></textarea>
          </div>
          <button type="submit" class="btn btn-primary mr-1" (click)="submit(newUserForm)" rippleEffect>{{ 'fnp.buttons.validation' | translate }}</button>
          <button
            type="reset"
            class="btn btn-outline-secondary"
            (click)="toggleSidebar('new-categorie-equipement-sidebar')"
            rippleEffect>
            {{ 'fnp.buttons.cancel' | translate }}
          </button>
        </div>
      </form>
    </div>
  </div>
  <!-- Modal to add new user Ends-->
</div>
