<div class="slideout-content">
    <!-- Modal to add new user starts-->
    <div class="modalsd modal-slide-in sdfade new-user-modal" id="modals-slide-in">
      <div class="modal-dialog">
        <form class="add-new-user modal-content pt-0" (ngSubmit)="(newUserForm.form.valid)" #newUserForm="ngForm">
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
            (click)="toggleSidebar('new-intervention-curative-sidebar')"
          >
            
          </button>
          <div class="modal-header mb-1">
            <h5 class="modal-title" id="exampleModalLabel">Ajouter Demande d'intervention</h5>
          </div>
          <div class="modal-body flex-grow-1">

            <div class="col-12 col-md-12">
              <label for="company">Equipement:</label>
              <fieldset class="form-group">
                <ng-select
                  [items]="selectEquipement"
                  [(ngModel)] ="selectedEquipement"
                  name="selectedEquipement"
                  bindLabel="designation"
                  placeholder="selectionez un équipement"
                 
                ></ng-select>
              </fieldset>
              <!-- <select class="form-control"  name="equipement" id="idEquipment" ngModel>
                <option>Aucune</option>
                <option>PIQUEUSE TRIPLET ENTRAINEMENT</option>
                <option>PIQUEUSE POSE TRESSE</option>
                <option>PIQUEUSE NEXIO</option>
                <option>POSE BOUTON</option>
                <option>BOUTONIERE</option>
                <option>CHARIOT MATELASSAGE GERBER</option>
                <option>RECOUVREUSE WT 600</option> -->
                

               <!-- / <option>pending</option> -->
              <!-- </select> -->
              <!-- <fieldset class="form-group">
                <ng-select
                  name="Equipement"
                  bindLabel="name"
                ></ng-select>
              </fieldset> -->
            </div>


            <div class="col-12 col-md-12">
              <label for="company">Demandeur :</label>
              <select class="form-control"  name="demandeur" id="IdUtilisateur" ngModel>
                <option>ALi</option>
                <option>Mohamed</option>
                <option>Jamel</option>
               <!-- / <option>pending</option> -->
              </select>
              <!-- <fieldset class="form-group">
                <ng-select
                  name="Equipement"
                  bindLabel="name"
                ></ng-select>
              </fieldset> -->
            </div>

            <div class="col-12 col-md-12">
              <label for="company">Type de panne :</label>
              <select class="form-control"  name="typePanne" id="IdPanne" ngModel>
                <option>Changement d'aiguille</option>
                <option>Probléme Pneumatique</option>
                <option>Probléme ELECTRIQUE</option>
                <option>Casse aîguille</option>
                <div class="input-group-append">
                  <button
                    class="btn btn-outline-secondary feather icon-calendar"
                    (click)="basicDP.toggle()"
                    type="button"
                    rippleEffect
                  ></button>
                </div>
               <!-- / <option>pending</option> -->
              </select>
              <p class="ajout-type" (click)="open()">Ajouter type de panne</p>
              <!-- <fieldset class="form-group">
                <ng-select
                  name="Equipement"
                  bindLabel="name"
                ></ng-select>
              </fieldset> -->
            </div>

<div class="row">
            <div class="col-md-8  ">
              <div class="form-group">

                <label for="company">Date demande :</label>
                <div class="input-group">
                  <input
                    class="form-control"
                    placeholder="dd-mm-yyyy"
                    name="miseEnservice"
                    ngbDatepicker
                    ngModel
                    #basicDP="ngbDatepicker"
                  />
                  <div class="input-group-append">
                    <button
                      class="btn btn-outline-secondary feather icon-calendar"
                      (click)="basicDP.toggle()"
                      type="button"
                      rippleEffect
                    ></button>
                  </div>
                  
                </div>

                

                
              </div>
            </div>
            <div class="form-group col-md-4 customBtn">
              <ngb-timepicker [(ngModel)]="time" [spinners]="spinners" ngModel></ngb-timepicker>
              
            </div>
          </div>

           

            

  
            <!-- <div class="form-group">
              <label class="form-label" for="basic-icon-default-uname">{{ 'fnp.champs.code' | translate }}</label>
              <input
                type="text"
                id="basic-icon-default-uname"
                class="form-control dt-uname"
                aria-label="jdoe1"
                aria-describedby="basic-icon-default-uname2"
                name="code"
                [(ngModel)]="code"
                [class.error]="newUserForm.submitted && FUserNameRef.invalid"
                #FUserNameRef="ngModel"
                required
              />
              <span *ngIf="newUserForm.submitted && FUserNameRef.invalid" class="invalid-form">
                <small class="form-text text-danger" *ngIf="FUserNameRef.errors.required">This field is required!</small>
              </span>
            </div> -->
            <!-- <div class="form-group">
              <label class="form-label" for="basic-icon-default-fullname">Libellé</label>
              <input
                type="text"
                class="form-control dt-full-name"
                id="basic-icon-default-fullname"
                name="name"
                [(ngModel)]="name"
                [class.error]="newUserForm.submitted && FNameRef.invalid"
                #FNameRef="ngModel"
                required
                aria-label="John Doe"
                aria-describedby="basic-icon-default-fullname2"
              />
              <span *ngIf="newUserForm.submitted && FNameRef.invalid" class="invalid-form">
                <small class="form-text text-danger" *ngIf="FNameRef.errors.required">This field is required!</small>
              </span>
            </div> -->
            <div class="form-group">
                  <label class="form-label" for="basic-icon-default-uname">Observation</label>
                  <textarea class="form-control mb-2" rows="4" placeholder="Observation"></textarea>
            </div>
            <button type="submit" class="btn btn-primary mr-1" (click)="submit(newUserForm)" rippleEffect>Valider</button>
            <button
              type="reset"
              class="btn btn-outline-secondary"
              (click)="toggleSidebar('new-intervention-curative-sidebar')"
              rippleEffect>
              Annuler
            </button>
          </div>
        </form>
      </div>
    </div>
    <!-- Modal to add new user Ends-->
  </div>
  
  