<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <!-- machines new start -->
    <form class="form-validate" (ngSubmit)="(accountForm.form.valid)" #accountForm="ngForm">
    <section class="app-machine-new">
      <div class="card">
        <div class="card-body">
          <div class="user-info mb-1">
            <h4 class="mb-0">Nouvelle machine</h4>
          </div>
          <!-- divider -->
          <div class="col-12">
            <hr class="my-1" />
            </div>
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="name">Réference :</label>
                      <input
                        type="text"
                        id="name"
                        class="form-control"
                        placeholder="Name"
                        name="reference"
                        [(ngModel)]="reference"
                        [class.error]="accountForm.submitted && FullNameRef.invalid"
                        #FullNameRef="ngModel"
                        required
                      />
                      <span *ngIf="accountForm.submitted && FullNameRef.invalid" class="invalid-form">
                        <small class="form-text text-danger" *ngIf="FullNameRef.errors.required"
                          >This field is required!</small
                        >
                      </span>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="email">Désignation :</label>
                      <input
                        type="email"
                        id="email"
                        class="form-control"
                        placeholder="designation"
                        name="designation"
                        [(ngModel)]="designation"
                        [class.error]="accountForm.submitted && EmailRef.invalid"
                        #EmailRef="ngModel"
                        required
                      />
                      <span *ngIf="accountForm.submitted && EmailRef.invalid" class="invalid-form">
                        <small class="form-text text-danger" *ngIf="EmailRef.errors.required"
                          >This field is required!</small
                        >
                      </span>
                    </div>
                  </div>
                  <!-- <div class="col-md-4">
                    <div class="form-group">
                      <label for="company">Date modification :</label>
                      <div class="input-group">
                        <input
                          class="form-control"
                          placeholder="dd-mm-yyyy"
                          name="Basic Date Picker"
                          [(ngModel)]="currentRow.dateCre"
                          ngbDatepicker
                          #basicDP="ngbDatepicker"
                        />
                        <div class="input-group-append">
                          <button
                            class="btn btn-outline-secondary feather icon-calendar"
                            (click)="basicDP.toggle()"
                            type="button"
                            rippleEffect
                          ></button>
                        </div>
                      </div>
                    </div>
                  </div> -->
                  <div class="col-12 d-flex flex-sm-row flex-column mt-3">
                    <button type="submit" (click)="submit(accountForm)" class="btn btn-primary mb-1 mb-sm-0 mr-0 mr-sm-1" rippleEffect>Save Changes</button>
                    <button (click)="resetFormWithDefaultValues()" class="btn btn-outline-secondary mb-1 mb-sm-0 mr-0 mr-sm-1" rippleEffect>Reset</button>
                    <a routerLink="/apps/gmao/machine/machine-list" class="btn btn-primary mb-1 mb-sm-0 mr-0 mr-sm-1" rippleEffect>Liste des machines</a>
                  </div>
                </div>
              </div>
            </div>
          </section>
        
      <!-- machines new ends -->
        <!-- Basic tabs start -->
        <section id="basic-tabs-components">
          <div class="row match-height">
            <div class="col-xl-12 col-lg-12">
              <core-card-snippet>
                <h4 class="card-title">Tab with icon</h4>
                <div class="card-body">
                  <ul ngbNav #navWithIcons="ngbNav" class="nav-tabs">
                    <li ngbNavItem>
                      <a ngbNavLink><span [data-feather]="'cast'"></span> Général</a>
                      <ng-template ngbNavContent>
                        <div class="col-12">
                          <hr class="my-1" />
                        </div>
                            <div class="row">
                              <div class="col-12 col-md-3">
                                <label class="d-flex align-items-center ml-1 ml-md-0" >Numéro de série:</label>
                                  <input
                                  [(ngModel)]="numeroDeSerie"
                                  name="numeroDeSerie"
                                  type="search"
                                  class="form-control ml-25"
                                  [class.error]="accountForm.submitted && EmailRef.invalid"
                                  #EmailRef="ngModel"
                                  required
                                  />
                                <span *ngIf="accountForm.submitted && EmailRef.invalid" class="invalid-form">
                                  <small class="form-text text-danger" *ngIf="EmailRef.errors.required"
                                    >This field is required!</small
                                  >
                                </span>
                              </div>
                              <div class="col-12 col-md-3">
                                <label class="d-flex align-items-center ml-1 ml-md-0" >Modèle:</label>
                                  <input
                                  [(ngModel)]="modele"
                                  name="modele"
                                  type="search"
                                  class="form-control ml-25"
                                  [class.error]="accountForm.submitted && EmailRef.invalid"
                                  #EmailRef="ngModel"
                                  required
                                  />
                                <span *ngIf="accountForm.submitted && EmailRef.invalid" class="invalid-form">
                                  <small class="form-text text-danger" *ngIf="EmailRef.errors.required"
                                    >This field is required!</small
                                  >
                                </span>
                              </div>
                              <div class="col-12 col-md-3">
                                <label class="d-flex align-items-center ml-1 ml-md-0" >Numéro déclaration:</label>
                                  <input
                                  [(ngModel)]="numDeclaration"
                                  name="numDeclaration"
                                  type="search"
                                  class="form-control ml-25"
                                  [class.error]="accountForm.submitted && EmailRef.invalid"
                                  #EmailRef="ngModel"
                                  required
                                  />
                                <span *ngIf="accountForm.submitted && EmailRef.invalid" class="invalid-form">
                                  <small class="form-text text-danger" *ngIf="EmailRef.errors.required"
                                    >This field is required!</small
                                  >
                                </span>
                              </div>
                              <div class="col-12 col-md-3">
                                <label class="d-flex align-items-center ml-1 ml-md-0" >Carateristique technique:</label>
                                  <input
                                  [(ngModel)]="carateristiqueTechnique"
                                  name="carateristiqueTechnique"
                                  type="search"
                                  class="form-control ml-25"
                                  [class.error]="accountForm.submitted && EmailRef.invalid"
                                  #EmailRef="ngModel"
                                  required
                                  />
                                <span *ngIf="accountForm.submitted && EmailRef.invalid" class="invalid-form">
                                  <small class="form-text text-danger" *ngIf="EmailRef.errors.required"
                                    >This field is required!</small
                                  >
                                </span>
                              </div>
                              <div class="col-12 col-md-3">
                                <label class="d-flex align-items-center ml-1 ml-md-0" >Mise en service:</label>
                                  <input
                                  [(ngModel)]="miseEnservice"
                                  name="miseEnservice"
                                  type="search"
                                  class="form-control ml-25"
                                  [class.error]="accountForm.submitted && EmailRef.invalid"
                                  #EmailRef="ngModel"
                                  required
                                  />
                                <span *ngIf="accountForm.submitted && EmailRef.invalid" class="invalid-form">
                                  <small class="form-text text-danger" *ngIf="EmailRef.errors.required"
                                    >This field is required!</small
                                  >
                                </span>
                              </div>
                              <div class="col-12 col-md-3">
                                <label class="d-flex align-items-center ml-1 ml-md-0" >Localite:</label>
                                <fieldset class="form-group">
                                  <ng-select
                                    [items]="selectLocalite"
                                    [(ngModel)]="localite"
                                    name="localite"
                                    bindLabel="code"
                                    placeholder="{{ 'filtres.filtreLocalite' | translate }}"
                                  ></ng-select>
                                </fieldset>
                              </div>
                              <div class="col-12 col-md-3">
                                <label class="d-flex align-items-center ml-1 ml-md-0" >Marque:</label>
                                <fieldset class="form-group">
                                  <ng-select
                                    [items]="selectMarque"
                                    [(ngModel)]="marque"
                                    name="marque"
                                    bindLabel="name"
                                    placeholder="{{ 'filtres.filtreMarque' | translate }}"
                                  ></ng-select>
                                </fieldset>
                              </div>
                              <div class="col-12 col-md-3">
                                <label class="d-flex align-items-center ml-1 ml-md-0" >Etat actule:</label>
                                <fieldset class="form-group">
                                  <ng-select
                                    [items]="selectEtatActuel"
                                    [(ngModel)]="etatActuel"
                                    name="etatActuel"
                                    bindLabel="code"
                                    placeholder="{{ 'filtres.filtreEtatActuel' | translate }}"
                                  ></ng-select>
                                </fieldset>
                              </div>
                              <div class="col-12 col-md-3">
                                <label class="d-flex align-items-center ml-1 ml-md-0" >Actif?:</label>
                                <fieldset class="form-group">
                                  <ng-select
                                    [items]="selectEtatMachine"
                                    [(ngModel)]="etatMachine"
                                    name="etatMachine"
                                    bindLabel="code"
                                    placeholder="{{ 'filtres.filtreEtat' | translate }}"
                                  ></ng-select>
                                </fieldset>
                              </div>
                              <div class="col-12 col-md-3">
                                <label class="d-flex align-items-center ml-1 ml-md-0" >Famille:</label>
                                <fieldset class="form-group">
                                  <ng-select
                                    [items]="selectFamille"
                                    [(ngModel)]="famille"
                                    name="famille"
                                    bindLabel="code"
                                    placeholder="{{ 'filtres.filtreFamille' | translate }}"
                                  ></ng-select>
                                </fieldset>
                              </div>
                              <div class="col-12 col-md-3">
                                <label for="company">Catégorie :</label>
                                <fieldset class="form-group">
                                  <ng-select
                                    [items]="selectCategorie"
                                    [(ngModel)]="categorieEquipement"
                                    name="categorieEquipement"
                                    bindLabel="code"
                                    placeholder="{{ 'filtres.filtreCategorie' | translate }}"
                                  ></ng-select>
                                </fieldset>
                              </div>
                              <div class="col-12 col-md-3">
                                <label for="company">Emplacement :</label>
                                <fieldset class="form-group">
                                  <ng-select
                                    [items]="selectEmplacement"
                                    [(ngModel)]="emplacement"
                                    name="emplacement"
                                    bindLabel="code"
                                    placeholder="{{ 'filtres.filtreCategorie' | translate }}"
                                  ></ng-select>
                                </fieldset>
                              </div>
                              <div class="col-md-3">
                                <div class="form-group">
                                  <label for="company">Date d'achat :</label>
                                  <div class="input-group">
                                    <input
                                      class="form-control"
                                      placeholder="dd-mm-yyyy"
                                      name="dateAchat"
                                      [(ngModel)]="basicDPdata"
                                      ngbDatepicker
                                      #basicDP="ngbDatepicker"
                                    />
                                    <div class="input-group-append">
                                      <button
                                        class="btn btn-outline-secondary feather icon-calendar"
                                        (click)="basicDP.toggle()"
                                        type="button"
                                        rippleEffect
                                      ></button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-12 col-md-3">
                                <label class="d-flex align-items-center ml-1 ml-md-0" >Prix d'achat:</label>
                                  <input
                                  [(ngModel)]="prixAchat"
                                  name="prixAchat"
                                  type="search"
                                  class="form-control ml-25"
                                  [class.error]="accountForm.submitted && EmailRef.invalid"
                                  #EmailRef="ngModel"
                                  required
                                  />
                                <span *ngIf="accountForm.submitted && EmailRef.invalid" class="invalid-form">
                                  <small class="form-text text-danger" *ngIf="EmailRef.errors.required"
                                    >This field is required!</small
                                  >
                                </span>
                              </div>
                              <div class="col-12 col-md-3">
                                <label class="d-flex align-items-center ml-1 ml-md-0" >Unite:</label>
                                <fieldset class="form-group">
                                  <ng-select
                                    [items]="selectUnite"
                                    [(ngModel)]="unite"
                                    name="unite"
                                    bindLabel="code"
                                    placeholder="{{ 'filtres.filtreUnite' | translate }}"
                                  ></ng-select>
                                </fieldset>
                              </div>
                              
                            </div>
                      </ng-template>
                    </li>
                    <li ngbNavItem>
                      <a ngbNavLink><span [data-feather]="'settings'"></span> Attachements</a>
                      <ng-template ngbNavContent>
                        



                        <div class="row">
 
                          <div class="col-md-3">
                   
                              <h3>Select files</h3>
                   
                              <div ng2FileDrop
                                   [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
                                   (fileOver)="fileOverBase($event)"
                                   [uploader]="uploader"
                                   class="well my-drop-zone">
                                  Base drop zone
                              </div>
                   
                              <div ng2FileDrop
                                   [ngClass]="{'another-file-over-class': hasAnotherDropZoneOver}"
                                   (fileOver)="fileOverAnother($event)"
                                   [uploader]="uploader"
                                   class="well my-drop-zone">
                                  Another drop zone
                              </div>
                   
                              Multiple
                              <input type="file" ng2FileSelect [uploader]="uploader" multiple  /><br/>
                   
                              Single
                              <input type="file" ng2FileSelect [uploader]="uploader" />
                          </div>
                   
                          <div class="col-md-9" style="margin-bottom: 40px">
                   
                              <h3>Upload queue</h3>
                              <p>Queue length: {{ uploader?.queue?.length }}</p>
                   
                              <table class="table">
                                  <thead>
                                  <tr>
                                      <th width="50%">Name</th>
                                      <th>Size</th>
                                      <th>Progress</th>
                                      <th>Status</th>
                                      <th>Actions</th>
                                  </tr>
                                  </thead>
                                  <tbody>
                                  <tr *ngFor="let item of uploader.queue">
                                      <td><strong>{{ item?.file?.name }}</strong></td>
                                      <td *ngIf="uploader.options.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                                      <td *ngIf="uploader.options.isHTML5">
                                          <div class="progress" style="margin-bottom: 0;">
                                              <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                                          </div>
                                      </td>
                                      <td class="text-center">
                                          <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                          <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                          <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                      </td>
                                      <td nowrap>
                                          <button type="button" class="btn btn-success btn-xs"
                                                  (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                                              <span class="glyphicon glyphicon-upload"></span> Upload
                                          </button>
                                          <button type="button" class="btn btn-warning btn-xs"
                                                  (click)="item.cancel()" [disabled]="!item.isUploading">
                                              <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                                          </button>
                                          <button type="button" class="btn btn-danger btn-xs"
                                                  (click)="item.remove()">
                                              <span class="glyphicon glyphicon-trash"></span> Remove
                                          </button>
                                      </td>
                                  </tr>
                                  </tbody>
                              </table>
                   
                              <div>
                                  <div>
                                      Queue progress:
                                      <div class="progress" style="">
                                          <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                                      </div>
                                  </div>
                                  <button type="button" class="btn btn-success btn-s"
                                          (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                                      <span class="glyphicon glyphicon-upload"></span> Upload all
                                  </button>
                                  <button type="button" class="btn btn-warning btn-s"
                                          (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
                                      <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                                  </button>
                                  <button type="button" class="btn btn-danger btn-s"
                                          (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                                      <span class="glyphicon glyphicon-trash"></span> Remove all
                                  </button>
                              </div>
                   
                          </div>
                   
                      </div>
                   
                      <br><br>
                   
                      <div class="row">
                        <div class="col-8">
                          <label class="btn btn-default p-0">
                            <input type="file" (change)="selectFile($event)" />
                          </label>
                        </div>
                        <div class="col-4">
                          <button class="btn btn-success btn-sm" [disabled]="!selectedFiles" (click)="upload()">
                            Upload
                          </button>
                        </div>
                      </div>
                      <div *ngIf="currentFile" class="progress my-3">
                        <div
                          class="progress-bar progress-bar-info progress-bar-striped"
                          role="progressbar"
                          attr.aria-valuenow="{{ progress }}"
                          aria-valuemin="0"
                          aria-valuemax="100"
                          [ngStyle]="{ width: progress + '%' }"
                        >
                          {{ progress }}%
                        </div>
                      </div>
                      <div *ngIf="message" class="alert alert-secondary" role="alert">{{ message }}</div>
                      <div class="card mt-3">
                        <div class="card-header">List of Files</div>
                        <ul
                          class="list-group list-group-flush"
                          *ngFor="let file of fileInfos | async"
                        >
                          <li class="list-group-item">
                            <a href="{{ file.url }}">{{ file.name }}</a>
                          </li>
                        </ul>
                      </div>
                  


                      </ng-template>
                    </li>
                    <li ngbNavItem>
                      <a href="javascript:void(0)" ngbNavLink><span [data-feather]="'lock'"></span> Historique localité</a>
                      <ng-template ngbNavContent>
                        <p>
                          Cake croissant lemon drops gummi bears carrot cake biscuit cupcake croissant. Macaroon lemon drops
                          muffin jelly sugar plum chocolate cupcake danish icing. Soufflé tootsie roll lemon drops sweet
                          roll cake icing cookie halvah cupcake.
                        </p>
                      </ng-template>
                    </li>
                    <li ngbNavItem>
                      <a ngbNavLink><span [data-feather]="'award'"></span> Attributs</a>
                      <ng-template ngbNavContent>
                        <p>
                          Chocolate croissant cupcake croissant jelly donut. Cheesecake toffee apple pie chocolate bar
                          biscuit tart croissant. Lemon drops danish cookie. Oat cake macaroon icing tart lollipop cookie
                          sweet bear claw. Carrot cake dragée chocolate. Lemon drops ice cream wafer gummies dragée.
                          Chocolate bar liquorice cheesecake cookie chupa chups marshmallow oat cake biscuit. Dessert toffee
                          fruitcake ice cream powder tootsie roll cake.
                        </p>
                      </ng-template>
                    </li>
                    <li ngbNavItem>
                      <a ngbNavLink><span [data-feather]="'award'"></span> Nomenclature</a>
                      <ng-template ngbNavContent>
                        <p>
                          Chocolate croissant cupcake croissant jelly donut. Cheesecake toffee apple pie chocolate bar
                          biscuit tart croissant. Lemon drops danish cookie. Oat cake macaroon icing tart lollipop cookie
                          sweet bear claw. Carrot cake dragée chocolate. Lemon drops ice cream wafer gummies dragée.
                          Chocolate bar liquorice cheesecake cookie chupa chups marshmallow oat cake biscuit. Dessert toffee
                          fruitcake ice cream powder tootsie roll cake.
                        </p>
                      </ng-template>
                    </li>
                    <li ngbNavItem>
                      <a ngbNavLink><span [data-feather]="'award'"></span> P.jointes</a>
                      <ng-template ngbNavContent>
                        <p>
                          Chocolate croissant cupcake croissant jelly donut. Cheesecake toffee apple pie chocolate bar
                          biscuit tart croissant. Lemon drops danish cookie. Oat cake macaroon icing tart lollipop cookie
                          sweet bear claw. Carrot cake dragée chocolate. Lemon drops ice cream wafer gummies dragée.
                          Chocolate bar liquorice cheesecake cookie chupa chups marshmallow oat cake biscuit. Dessert toffee
                          fruitcake ice cream powder tootsie roll cake.
                        </p>
                      </ng-template>
                    </li>
                  </ul>
                  <div [ngbNavOutlet]="navWithIcons" class="mt-2"></div>
                </div>
              </core-card-snippet>
            </div>
          </div>
        </section>
        <!-- Basic Tag Input end -->
       </form> 

  </div>
</div>
