<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <!-- users edit start -->
    <section class="app-role-edit">
      <div class="card">
        <div class="card-body">
          <div class="user-info mb-1">
            <h4 class="mb-0">Modifier Rôle</h4>
          </div>
          <!-- divider -->
          <div class="col-12">
            <hr class="my-1" />
          </div>
            <!-- <form class="form-validate" (ngSubmit)="(accountForm.form.valid)" #accountForm="ngForm">
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="name">Libellet :</label>
                    <input
                      type="text"
                      id="Role"
                      class="form-control"
                      placeholder="Name"
                      name="Role"
                      [(ngModel)]="currentRow.name"
                      [class.error]="accountForm.submitted && FullNameRef.invalid"
                      #FullNameRef="ngModel"
                      required
                    />
                    <span *ngIf="accountForm.submitted && FullNameRef.invalid" class="invalid-form">
                      <small class="form-text text-danger" *ngIf="FullNameRef.errors.required"
                        >This field is required!</small
                      >
                    </span>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="email">Code :</label>
                    <input
                      type="text"
                      id="code"
                      class="form-control"
                      placeholder="Code"
                      name="code"
                      [(ngModel)]="currentRow.code"
                      [class.error]="accountForm.submitted && EmailRef.invalid"
                      #EmailRef="ngModel"
                      required
                    />
                    <span *ngIf="accountForm.submitted && EmailRef.invalid" class="invalid-form">
                      <small class="form-text text-danger" *ngIf="EmailRef.errors.required"
                        >This field is required!</small
                      >
                    </span>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="status">Status :</label>
                    <select class="form-control" [(ngModel)]="currentRow.status" name="status" id="status">
                      <option>active</option>
                      <option>inactive</option>
                      <option>pending</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Privilege(s)</label>
                 
                      <ng-select
                        name="privileges"
                        [items]="privileges"
                        [multiple]="true"
                        [closeOnSelect]="false"
                        [searchable]="true"
                        bindLabel="name"
                        placeholder="Select people"
                        [(ngModel)]="currentRow.privileges"
                      >
                      </ng-select>
                    
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                        <label class="form-label" for="basic-icon-default-uname">{{ 'fnp.champs.description' | translate }}</label>
                        <textarea class="form-control mb-2" rows="4" placeholder="Comment" (change)="doTextareaValueChange($event)">{{currentRow.description}}</textarea>
                  </div>
                </div>

                <div class="col-12 d-flex flex-sm-row flex-column mt-3">
                  <button type="submit" (click)="submit(accountForm)" class="btn btn-primary mb-1 mb-sm-0 mr-0 mr-sm-1" rippleEffect>Save Changes</button>
                  <button (click)="resetFormWithDefaultValues()" class="btn btn-outline-secondary mb-1 mb-sm-0 mr-0 mr-sm-1" rippleEffect>Reset</button>
                  <a routerLink="/apps/role/role-list" class="btn btn-primary mb-1 mb-sm-0 mr-0 mr-sm-1" rippleEffect>Liste des roles</a>
                </div>
              </div>
            </form> -->

          <form  class="form-group form-horizontal" #roleForm="ngForm"   (ngSubmit)="submit(roleForm)">
          <div class="row">


              <div class="col-md-4">
                <div class="col-sm-12 col-md-12 col-lg-12">
                  <label> Code </label>
                  <input class="form-control" type="text" name="code" #code="ngModel"   [(ngModel)]="role[0].code" >
                </div>
              </div>
              <div class="col-md-4">
                <div class="col-sm-12 col-md-12 col-lg-12">
                  <label> Rôle </label>
                  <input class="form-control" type="text" name="Role" #Role="ngModel"  [(ngModel)]="role[0].Role" >
                </div>
              </div>
             <!-- <div class="col-sm-12 col-md-12 col-lg-12">
              <label> Etat </label>
              <input class="form-control" type="number" name="Etat" #Etat="ngModel" [(ngModel)]="role[0].Etat" >
             </div> -->
             <div class="col-md-12">
              <div class="col-sm-12 col-md-12 col-lg-12">
                <label> Commentaire </label>
                <textarea class="form-control" type="text" name="commentaire" #commentaire="ngModel" [(ngModel)]="role[0].commentaire" ></textarea>
              </div>
             </div>
             <div class="col-12 d-flex flex-sm-row flex-column mt-3">
              <button type="submit" class="btn btn-primary mb-1 mb-sm-0 mr-0 mr-sm-1" rippleEffect>Modifier</button>
              <!-- <button (click)="resetFormWithDefaultValues()" class="btn btn-outline-secondary mb-1 mb-sm-0 mr-0 mr-sm-1" rippleEffect>Reset</button> -->
              <a routerLink="/apps/role/role-list" class="btn btn-primary mb-1 mb-sm-0 mr-0 mr-sm-1" rippleEffect>Annuler</a>
             </div>
        </div>
          </form>
          </div>
        </div>
    </section>
    <!-- users edit ends -->

        

  </div>
</div>
