
<div class="card-body">
<div style="margin-left:auto;">
  <div class="d-flex align-items-center mt-md-0 mt-1" >
    <i class="font-medium-2" data-feather="calendar"></i>
    <ng2-flatpickr [config]="DateRangeOptions" name="DateRange"></ng2-flatpickr>
  </div>
</div>
</div>




  <!-- <p>{{DateRangeOptions.defaultDate}}</p> -->

  <!-- <div class="form-group">
    <div class="custom-control custom-switch">
      <input
        type="checkbox"
        class="custom-control-input allDay-switch"
        id="customSwitch3"
        [(ngModel)]="event.allDay"
        name="allDay"
      />
      <label class="custom-control-label" for="customSwitch3">All Day</label>
    </div>
  </div> -->